*
{
	margin: 0;
	padding: 0;
	position: center;
}
.navbar
{
	width: 80%;
	margin: auto;
	padding: 35px 56px;
	display: flex;
	justify-content: center;
}
.navbar ul li
{
	list-style: none;
	display:inline-block;
	margin: 0 20px;
	position: relative;
}
.navbar ul li a
{
	text-decoration: none;
	color:aqua;
	text-transform: uppercase;
}
.navbar ul li:after
{
	content: "";
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -9px;
	transition: 1s;;
}
.navbar ul li:hover:after
{
	width: 100%;
}
.contant 
{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50);
	text-align: center;
	color: aqua;
	background: transparent;
}
.container h2
{
	font-size: 10px;
	margin-top: 80px;
}
.contant p
{
	margin: 20px auto;
	font-weight: 100;
	line-height: 20px;
	background: transparent;
}
.button
{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 740px 390px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid aqua;
	background: transparent;
	color: aqua;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.span
{
	background: aqua;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transmition: 0.5s;
}
button:hover span
{
	width: 100%;
}
